@import url('https://fonts.googleapis.com/css2? family = Roboto: wght @ 300;family=Orbitron:wght@500;700 & display = swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
	max-width: 1280px;
	max-height: 720px;
	margin-left: auto;
	margin-right: auto;
}
body{
	background-color: #186096
}
main{
	width: 	90%;
	height: 700px;
	background-color: #032646;
	margin-left: auto;	
	margin-right: auto;	
}
header{
	width: 	100%;
	height: 100px;
	background-color: #032646;
}
	
#botonera{
	width: 	100%;
	height: 50px;
	background-color: #44bd32;
}
section{
	width: 	100%;
	height: 550px;
	background-image: url(ojo1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

#primera{
	width: 30%;
	height: 22%;
	background-color: rgba( 3, 39, 69, 0.7);
	margin-top: 33%;
	float: left;
	clear: both;
}

footer{
	width: 	100%;
	height: 50px;
	background-color: #032646;
}
nav li {
	display: inline;
}
nav li a {
	margin-right: 0%;
	margin-top: 2%;
	margin-left: 7%;
	float: left;
	text-decoration: none;
	}
.floto{
	float: left;
	margin-left: 3%;
	margin-top: 1%;
	margin-right: 15%;
}

#menu2 li a {
	font-size: 17px;
	text-decoration: none;
	margin-top: -18px;
	margin-left: 45%;
	color: #ffffff;
	clear: both;
	float: left;
	font-family:'Roboto', sans-serif;
}

#menu2 li {
	display: inline;}

.floto1{
	float: left;
	margin-left: 3%;
	margin-top: 1%;
	margin-right: 25%;
}
.flotor{
	float: right;
	clear: both;
	margin-right: 3%;
	margin-top: -25px;

}
.fuente1{
	font-family:'Roboto', sans-serif;
	color: #ffffff;
	margin:5%;
	font-size: 16px;
}
.fuente2{
	font-family:'Roboto', sans-serif;
	color: #ffffff;
	font-size: 20px;
	text-decoration: none;
	margin-right: 0%;
	margin-top: 2%;
	margin-left: 70%;
}

#miformu{
	width: 350px;
	height: 330px;
	background-color: rgba( 3, 39, 69, 0.7);
	padding: 4%;
	margin-left: -14%;
	margin-right: auto;
	margin-top: 0%;


}
.cajita{
	width: 100%;
	background-color: #00E6D3;
	color: #000000;
}
.cajita2{
	width: 100%;
	background-color: #00E6D3;
	color: #000000;
}
.cajita3{
	width: 100%;
	background-color: #00E6D3;
	color: #000000;
}
.multi{
	width: 100%;
	height:50px;
	background-color: #00E6D3;
	color: #000000;
}
.boton{
	width: 40%;
	height: 25px;
	border-radius: 7px;
	background-color: #032646;
	color: #ffffff;
	margin-left: 30%;	
	margin-right: auto;	
}
.adjunto{
	border-radius: 7px;
	background-color: #00E6D3;
	color: #000000;

}
#section2{
	width: 	100%;
	height: 550px;
	background-image: url(textura.png);
	background-repeat: no-repeat;
	background-size: cover;
}

#remera{
	font-size: 15px;
	text-decoration: none;
	margin-top: 2%;
	margin-right: 31%;
	color: #ffffff;
	font-family:'Roboto', sans-serif;
	float: right;
}
.remera1{
	float: left;
	margin-left: 3%;
	margin-top: 2%;
}
.buzo{
	float: right;
	}
#titulo{
	width: 240px;
	height: 70px;
	margin-left: auto;	
	margin-right: auto;
	border-radius: 7%;
	background-color: rgba( 3, 39, 69, 0.7);
	padding: 2%;
}
h1{ 
	font-size:23px;
	color:#ffffff;
	font-family:'Roboto', sans-serif;
	 }

#menu3 li a {
	font-size: 17px;
	text-decoration: none;
	margin-top: -22px;
	margin-left: 45%;
	color: #ffffff;
	clear: both;
	float: left;
	font-family:'Roboto', sans-serif;
	}
	#menu3 li {
	display: inline;}
#floto3{
	float: left;
	clear: both;
	margin-left: 3%;
	margin-top: 2%;

}
#floto4{
	clear: both;
	float: right;
	margin-right: 50PX;
	margin-top: -330px;
	}
.floto11{
	float: left;
	margin-left: 3%;
	margin-top: 15px;
	margin-right: 25%;
}
.flotorr{
	float: right;
	clear: both;
	margin-right: 3%;
	margin-top: -25px;}


#menu5 li a {
	font-size: 17px;
	text-decoration: none;
	margin-top: -18px;
	margin-left: 45%;
	color: #ffffff;
	clear: both;
	float: left;
	font-family:'Roboto', sans-serif;
}

#menu5 li {
	display: inline;}
#galeria{
	width: 	100%;
	height: 550px;
	background-image: url(textura.png);
	background-repeat: no-repeat;
	background-size: cover;
}
#fotos{
	width: 35%;
	height: 22%;
	background-color: rgba( 3, 39, 69, 0.7);
	margin-left: auto;
	margin-right: auto;
}
#descripcion1{
	width: 27%;
	height: 40%;
	background-color: rgba( 3, 39, 69, 0.7);
	margin-left: 60px;
	float: left;
	padding: 2%;
	border-radius: 3%;

}
#descripcion2{
	width: 27%;
	height: 40%;
	background-color: rgba( 3, 39, 69, 0.7);
	margin-right: : 60px;
	margin-left: 60px;
	float: left;
	padding: 2%;
	border-radius: 3%;
}
#descripcion3{
	width: 27%;
	height: 40%;
	background-color: rgba( 3, 39, 69, 0.7);
	margin-left: 60px;
	float: left;
	padding: 2%;
	border-radius: 3%;

}
.fuente3{
	font-family:'Roboto', sans-serif;
	color: #ffffff;
	font-size: 15px;
	text-decoration: none;
	margin-right: 0%;
	margin-top: 2%;
	margin-left: 7%;
}
#argumento{
	width: 27%;
	height: 47%;
	background-color: rgba( 3, 39, 69, 0.7);
	margin-left: 60px;
	float: left;
	padding: 2%;
	border-radius: 1%;
	margin-top: 10%;
}

#section3{
	width: 	100%;
	height: 550px;
	background-image: url(textura.png);
	background-repeat: no-repeat;
	background-size: cover;
}
#menu7 li a {
	font-size: 17px;
	text-decoration: none;
	margin-top: -18px;
	margin-left: 45%;
	color: #ffffff;
	clear: both;
	float: left;
	font-family:'Roboto', sans-serif;
}

#menu7 li {
	display: inline;}
#video{
	width: 53%;
	height: 70%;
	background-color: rgba( 3, 39, 69, 0.7);
	margin-left: 60px;
	float: left;
	padding: 2%;
	border-radius: 1%;
	margin-top: 5%;
}
#titulo2{
	width: 330px;
	height: 70px;
	margin-left: auto;	
	margin-right: auto;
	border-radius: 7%;
	background-color: rgba( 3, 39, 69, 0.7);
	padding: 2%;
}
